<div *ngFor = "let biosource of biosource_array">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{biosource}}
            </mat-card-title>
        </mat-card-header>
    <div *ngFor = "let tf of tf_array; let a = index" [attr.data-index]="a">
        <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{tf}}
            </mat-card-title>
        </mat-card-header>
        <div fxLayout="row wrap">
        <div *ngFor = "let filename of filename_array[a]; let i = index" [attr.data-index]="i">
            <mat-card class="tripple-card">
                <mat-card-header>
                    <mat-card-title>
                        {{filename}}
                    </mat-card-title>
                </mat-card-header>
            

            <img src="assets/img/plots/{{tf}}/{{filename}}_{{tf}}.svg" width="550">
        </mat-card>
        </div>
        </div>
    </mat-card>
    </div>
</mat-card>
</div>





<!--<div *ngFor = "let path of path_array; let i = index" [attr.data-index]="i">

    <img src="assets/img/plots/{{path}}">
</div>-->