.example-tree-invisible{
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    font-size: large;
}

.card-button {
    font-size: large;
    //background-color: rgb(5, 148, 148);
  }
