<mat-card class="card" style="text-align: center;">
        <mat-card-title>
            <h1>Analysis finished!</h1>
            <hr>
        </mat-card-title>
    <mat-card-content class="card-content">
        <h1>Statistic Results:</h1>
        Runtime: mm:hh
        <br>
        Analyzed Biosources: x
        <br>
        Analyzed TFs: x
    </mat-card-content>
    <button class="card-button" mat-flat-button color="primary" (click)="toResults()">
        Go to Results
    </button>
</mat-card>
