<div *ngFor = "let biosource of graph_list_names_bio; let i_bio = index" [attr.data-index]="i_bio">
  <mat-card>
      <mat-card-header>
          <mat-card-title>
              {{biosource}}
          </mat-card-title>
      </mat-card-header>
  <div *ngFor = "let tf of graph_list_names_tf; let a = index" [attr.data-index]="a">
      <mat-card>
      <mat-card-header>
          <mat-card-title>
              {{tf}}
          </mat-card-title>
      </mat-card-header>
      <!--<div fxLayout="row wrap">-->
     <!--<div *ngFor = "let graph of graph_list; let i = index" [attr.data-index]="i">-->
          
      <mat-card >
              <plotly-plot
              [data]="graph_list[i_bio][a][0].data"
              [layout]="graph_list[i_bio][a][0].layout"
              [useResizeHandler]="true"
              [updateOnlyWithRevision]="true"></plotly-plot>
                
      </mat-card>
      <!--</div>-->
     <!--</div>-->
  </mat-card>
  </div>
</mat-card>
</div>


<!--<div *ngFor="let graph of graph_list; let a = index" [attr.data-index]="a">

<plotly-plot
  [data]="graph.data"
  [layout]="graph.layout"
  [useResizeHandler]="true"
  [updateOnlyWithRevision]="true"></plotly-plot>
    
</div>-->