.card {
    width: 350px;
    height: 400px;
    display: block;
    margin-left:auto;
    margin-right:auto;  
      border: 1px solid #eee;
    
  }
.card-content {
  font-size: large;
}

.card-button {
  font-size: large;
  background-color: rgb(5, 148, 148);
}
